@media screen and (max-width: 1199px) {

}

.nav-item {
    font-family: Jost;
    font-weight: 300;
    font-size: 13px;
}

.container {
    width: 1200px !important;
    max-width: 1200px !important;
}

.nav-link {
    color: #d9d9d9 !important;
    font-size: 13px;
}

footer {
    font-family: Jost;
    width: 964px;
    margin: 40px auto;
}

footer h2 {
    font-size: 18px;
    font-weight: bold;
    color: #000;
}
footer ul {
    padding: 0;
}
footer li {
    list-style: none;
}
footer a {
    text-decoration: none;
    color: #212121;
    font-size: 15px;
    font-weight: 300;
}
.footerFirstDiv {
    display: flex;
    margin: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
    align-items: center;
}
.terragaucha-footer-separator {
    background-color: #EFEFEF;
    flex-basis: 2px !important;
    height: 116px !important;
}
.terragaucha-footer-list-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.terragaucha-menu-social-container {
    display:flex;
    justify-content: space-between;
}

.terragaucha-menu-social-container-menu  {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-flex;
    gap: 5px;
    letter-spacing: .155em;
}

.terragaucha-menu-social-container-menu a {
    color: #212121;
    font-size: 9px;
    font-weight: 400;
}
.terragaucha-menu-social-container-menu li:not(:first-child)::before {
    content: "■";
    margin-right: 5px;
    font-size:10px;
    color:#99262D;
}
.terragaucha-footer-copyright {
    display: flex;
    gap: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.btn-reservationNav a {
    border-radius: 0;
    background-color: #99262D;
    color: #D9D9D9;
    padding: 10px;
    text-decoration: none;
    font-family: Jost;
}
.navbar-collapse {
    justify-content: center;
}
.reservation_banner {
    width: 100%;
    position: relative;
    border-bottom: 20px solid #99262d;
}
.bg_effect000 {
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: .5;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    height: 500px;
    width: 100%;
}
.reservation_banner img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.reservation-content-wrapper {
    position: relative;
    margin: auto !important;
    background-color: #EFEFEF;
    padding: 40px 120px !important;
    z-index: 999 !important; 
    margin-top: -150px !important;
}
.reservation-content-wrapper h1 {
    font-family: Bodoni Elegant;
    font-style: italic !important;
    font-size: 69px;
    font-weight: 300;
    line-height: 66px;
    letter-spacing: 0em;
    text-align: center;
    color: #272727;
    border-image: linear-gradient(90deg, #a49788 10%, #99262d 10%, #99262d 55%, #99262d 55%) 5;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.reservation-content-wrapper p.info {
    font-family: Jost;
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}
.contentReserveForm {
    margin-top: 70px;
}

.divFormContainer {
    width: 50%;
}

label {
    font-family: Jost;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: .155em;
    text-align: left;
    color: #A49788;
    display: block;
    padding: 5px 0;
}

select {
    background-color: #EFEFEF;
    line-height: 33px;
    height: 33px;
    width: 100%;
    font-family: Jost;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #272727;
    border: none;
    padding: 0 10px;
    border: 1px solid #A49788;
}

input[type=zip], input[type=text], input[type=email], input[type=file], input[type=date], input[type=tel], input[type=number] {
    background-color: #EFEFEF;
    line-height: 33px !important;
    height: 33px;
    width: calc(100% - 10px);
    font-family: Jost;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #272727;
    outline: 0;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #A49788;
}

.index-reservation-form button {
    background: #A49788;
    font-family: Jost;
    font-size: 19px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: .18em;
    text-align: left;
    color: #fff;
    outline: none;
    border: none;
    padding: 10px 30px;
    margin-top: 40px;
    width: 100%;
    text-align: center;
}

.reservation-content-wrapper .index-reservation-form p {
    font-family: Jost;
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #272727;
}
.default_content {
    padding: 70px 15px 0;
}

.default_content h1 {
    font-size: 70px;
    font-family: Bodoni Elegant;
    color: #272727;
    border-image: linear-gradient(90deg, #a49788 10%, #99262d 10%, #99262d 55%, #fff 55%) 5;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    margin-bottom: 20px;
    font-style: italic !important;
}

.default_content h2 {
    font-size: 24px;
    font-family: Bodoni Elegant;
    color: #000;
    font-weight: 300;
}

.default_content p {
    font-size: 17px;
    font-family:Jost;
    color: #000;
    font-weight: 300;
}

.terra-club-wrapper h2 {
    font-family: Bodoni Elegant;
    font-size: 95px;
    font-weight: 300;
    line-height: 90px;
    letter-spacing: 0em;
    text-align: left;
    color: #99262D !important;
    border-image: linear-gradient(90deg, #a49788 10%, #99262d 10%, #99262d 55%, #99262d 55%) 5;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    margin-bottom: 33px;
    font-style: italic !important;
}

.terra-club-wrapper {
    border-bottom: 25px solid #99262D;
    padding: 150px 0;
}

.wp-block-cover .wp-block-cover__image-background, .wp-block-cover video.wp-block-cover__video-background, .wp-block-cover-image .wp-block-cover__image-background, .wp-block-cover-image video.wp-block-cover__video-background {
    border: none;
    bottom: 0;
    box-shadow: none;
    height: 100%;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none;
    object-fit: cover;
    outline: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    object-position: 50% 50%;
}

.terra-club-wrapper .terra-club-wrapper-subtitle {
    font-family: Jost;
    font-size: 27px;
    font-weight: 300;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 30px;
    color: #fff !important;
}

.wp-image-39132 {
    margin-left: -25% !important;
}

.gradient-overlay::after {
    content: "";
    background: linear-gradient(90deg, transparent 0%, transparent 30%, #000 50%);
    position: absolute;
    height: 100%;
    width: 100%;
}

.wp-block-cover .wp-block-cover__inner-container, .wp-block-cover-image .wp-block-cover__inner-container {
    color: inherit;
    width: 100%;
    z-index: 11111111;
}

.is-layout-constrained > :last-child {
    margin-block-end: 0;
}

.is-layout-constrained > :first-child {
    margin-block-start: 0;
}



.is-layout-flex {
    gap: 24px;
}

.is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    max-width: 580px;
    margin-left: auto !important;
    margin-right: 350px !important;
}

:where(.wp-site-blocks) > * {
    margin-block-start: 0px;
    margin-block-end: 0;
}

:where(.wp-block-group.wp-block-group-is-layout-constrained) {
    position: relative;
}

.wp-block-cover, .wp-block-cover-image {
    align-items: center;
    background-position: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    min-height: 430px;
    overflow: hidden;
    overflow: clip;
    position: relative;
}

.terra-club-wrapper input[type=submit] {
    background-color: #99262D !important;
    display: block;
    width: 100% !important;
    border: none;
    outline: none;
    font-family: Jost;
    font-size: 19px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0.18em;
    text-align: center;
    color: #fff;
}

#mc_embed_signup .button {
    clear: both;
    background-color: #111;
    border: 0 none;
    border-radius: 4px;
    transition: all 0.23s ease-in-out 0s;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
    margin: 0 5px 10px 0;
    padding: 0 22px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: fit-content;
    width: -moz-fit-content;
}

#mc_embed_signup .indicates-required {
    text-align: right;
    font-size: 11px;
    margin-right: 4%;
}

#mc_embed_signup .indicates-required, #mc_embed_signup .nowrap {
    color: var(#a49788) !important;
}

.group-dinning-large-group h2 {
    font-family: Bodoni Elegant;
    font-size: 49px;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
    font-style: italic !important;
    border-image: linear-gradient(90deg, var(--wp--preset--color--terragaucha-golden) 10%, var(--wp--preset--color--terragaucha-red) 10%, var(--wp--preset--color--terragaucha-red) 55%, #fff 55%) 5;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding-bottom: 28px;
    margin-bottom: 17px;
}

.gift-cards-banner-wrapper {
    min-height: 600px;
    border-bottom: 20px solid #99262D;
}

.wp-block-cover, .wp-block-cover-image {
    align-items: center;
    background-position: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    overflow: hidden;
    overflow: clip;
    padding: 1em;
    position: relative;
}

.gift-cards-banner-wrapper h2 {
    font-family: Bodoni Elegant;
    font-size: 72px;
    font-weight: 300;
    line-height: 75px;
    letter-spacing: 4px;
    text-align: start;
    color: #ffffff;
}
.is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    max-width: 580px;
    margin-left: 300px !important;
    margin-right: 350px !important;
}

.gift-cards-content-wrapper {
    padding-top: 70px;
}

.gift-cards-content-wrapper .wp-block-columns {
    gap: 100px;
}

.gift-cards-content-wrapper .gift-cards-content-wrapper-img {
    margin-top: -150px;
    position: relative;
    z-index: 9;
}

.gift-cards-content-wrapper h2 {
    font-family: Jost;
    font-size: 37px;
    font-weight: 300;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 40px;
}

body .is-layout-flex {
    display: flex;
}

.gift-card-wrapper-e-gift {
    background-color: #272727;
    border-radius: 25px;
    margin-right: 25px;
    height: 250px;
    max-width: 460px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.gift-card-wrapper-e-gift a {
    height: 250px;
    width: 460px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 40px;
    z-index: 9;
}

.gift-card-wrapper-e-gift::after {
    content: "";
    position: absolute;
    background-color: #45E4EE;
    width: 200px;
    height: 50px;
    margin-left: 300px;
}

.gift-cards-content-wrapper h3 {
    font-family: Jost;
    font-size: 29px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    color: #99262D;
    margin-top: 20px;
    margin-left: 20px;
    font-style: normal;
}

.gift-cards-content-wrapper p {
    font-family: Jost;
    font-size: 21px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
    margin-left: 20px;
}

.gift-cards-content-wrapper .wp-block-buttons {
    margin-left: 20px;
}

.gift-cards-content-wrapper .wp-block-button a {
    font-family: Jost;
    font-size: 21px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.265em;
    text-align: left;
    color: #D9D9D9;
    padding: 5px 50px;
    margin: 30px 0 60px;
}

.wp-element-button, .wp-block-button__link {
    border-radius: 0;
    background-color: #99262D;
}

.gift-card-wrapper-m-gift {
    background-color: #272727;
    border-radius: 25px;
    margin-right: 25px;
    height: 250px;
    max-width: 460px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.wp-block-image {
    margin: 0 0 1em;
}

.gift-card-wrapper-m-gift a {
    height: 250px;
    width: 460px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 40px;
    z-index: 9;
}

.gift-card-wrapper-m-gift::after {
    content: "";
    position: absolute;
    background-color: #EEBF45;
    width: 200px;
    height: 50px;
    margin-left: 300px;
}

.location-map img {
    object-fit: contain !important;
}

.locations-heading {
    background-color: #FAFAFA;
}

.our_story_banner {
    border-image: linear-gradient(to right, #a49788 20%, #99262d 20%, #99262d 85%) 5;
    border-bottom: 20px solid;
    padding-bottom: 15px;
    height: 758px;
}

.our-story-timeline-wrapper {
    padding-bottom: 800px;
    margin-top: 70px;
}

.our-story-timeline-wrapper .wp-block-cover__image-background {
    object-fit: contain;
    object-fit: contain;
    bottom: 0;
    top: inherit;
    height: 900px;
}

.our-story-timeline-wrapper .as-grid {
    display: grid !important;
    gap: 0;
    row-gap: 100px !important;
    grid-template-columns: 1fr 60px 1fr;
    grid-template-areas:
        "g2015 gseparator g2015-info"
        "g2018-info gseparator g2018"
        "g2022 gseparator g2022-info";
}

.our-story-timeline-wrapper .as-grid .g2015 {
    grid-area: g2015;
}

@media (min-width: 600px) {
    .our-story-timeline-wrapper-img-left figure::after {
        content: "";
        height: 20px;
        background-color: #a49788;
        position: relative;
        display: block;
        margin-top: -40px;
        margin-left: 76px;
        width: 1060px;
    }
}

.our-story-timeline-wrapper-img-left {
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.our-story-timeline-wrapper .as-grid .g2015-info {
    grid-area: g2015-info;
    max-width: 350px;
}

.our-story-timeline-wrapper-img-right {
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.our-story-timeline-wrapper h2 {
    font-family: Bodoni Elegant;
    font-style: italic !important;
    font-size: 95px;
    font-weight: 300;
    line-height: 90px;
    letter-spacing: 0em;
    text-align: left;
    color: #272727 !important;
    border-image: linear-gradient(to right, #a49788 0%, #a49788 85%, #99262d 85%, #99262d 100%) 5;
    border-bottom: 4px solid;
    padding-bottom: 15px;
}

.our-story-timeline-wrapper p {
    font-family: Jost;
    font-size: 30px;
    font-weight: 300;
    line-height: 43px;
    letter-spacing: 0em;
    color: #000 !important;
    margin-top: 20px;
}

.carrers-wrapper {
    border-bottom: 25px solid #99262D;
    padding: 150px 0;
}

.carrers-wrapper h1 {
    font-family: Bodoni Elegant;
    font-size: 95px;
    font-weight: 300;
    line-height: 90px;
    letter-spacing: 0em;
    text-align: left;
    color: #99262D !important;
    border-image: linear-gradient(90deg, #a49788 10%, #99262D 10%, #99262D 55%, #99262D 55%) 5;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    margin-bottom: 33px;
    font-style: italic !important;
}

.carrers-wrapper .carrers-wrapper-subtitle {
    font-family: Jost;
    font-size: 30px;
    font-weight: 300;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 30px;
    color: #D9D9D9;
}

.carrers-wrapper .carrers-wrapper-subtitle2 {
    font-family: Jost;
    font-size: 19px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    margin-bottom: 30px;
}

.carrers-wrapper input[type=submit] {
    background-color: #99262D !important;
    display: block;
    width: 100%;
    border: none;
    outline: none;
    font-family: Jost;
    font-size: 19px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0.18em;
    text-align: center;
    color: #fff;
}

.contact-us-wrapper h1 {
    font-family: Bodoni Elegant;
    font-size: 95px;
    font-weight: 300;
    line-height: 90px;
    letter-spacing: 0em;
    text-align: left;
    color: #99262D !important;
    border-image: linear-gradient(90deg, #a49788 10%, #99262D 10%, #99262D 55%, #99262D 55%) 5;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    margin-bottom: 33px;
    font-style: italic !important;
}

.contact-us-wrapper .contact-us-subtitle {
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    margin-bottom: 30px;
}

.wpcf7-list-item-label {
    color: #d9d9d9;
    font-weight: 300;
    padding-left: 28px;
    display: inline-flex;
    margin-top: -20px;
}

.agree-message {
    font-family: Jost;
    font-size: 11px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #d9d9d9;
}

.contact-us-wrapper input[type=submit] {
    background-color: #99262D !important;
    display: block;
    width: 100%;
    border: none;
    outline: none;
    font-family: Jost;
    font-size: 19px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0.18em;
    text-align: center;
    color: #fff;
}
